<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <!-- Input with placeholder for name -->
      <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <!-- Input with placeholder for number -->
      <ion-input placeholder="Telefone" [(ngModel)]="telefone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="genero" interface="popover" placeholder="Selecione Genero">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Não Declarado">Não Declarar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Data de nascimento</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
              <ion-datetime id="datetime" min="1900" max="2022" presentation = "date" [(ngModel)]="dataNascimento"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>
