<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda de contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-row>
      <ion-col>
        Nome
      </ion-col>
      <ion-col>
        Telefone
      </ion-col>
      <ion-col>
        Genero
      </ion-col>
      <ion-col>
        Data Nascimento
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let contato of contatos">

      <ion-grid [fixed]="true">
  
        <ion-row>
          <ion-col>
            <ion-label>{{contato.nome}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{contato.telefone}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{contato.genero}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{contato.dataNascimento}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color = "secondary" (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
